:root {
    --bg-color: $bg-color;
    --text-color: $text-color;
    --input-checked-bg-color: $input-checked-bg-color;
    --button-bg-color: $button-bg-color;
    --button-hover-bg-color: $button-hover-bg-color;
    --input-bg: $input-bg;
    --select-bg: $select-bg;
    --select-bg-hover: $select-bg-hover;
}
$bg-color: #333;
$text-color: #fff;
$input-checked-bg-color: #444;
$button-bg-color: #444;
$button-hover-bg-color: #555;
$input-bg: #444;
$select-bg: #444;
$select-bg-hover: #3d3d3d;


.classe {
    vertical-align: middle;
    position: relative;

    &.hidden {
        opacity: .3;
    }

    th.index {
        width: 50px;
        height: 50px;
        text-align: center;
        vertical-align: middle;
        opacity: .5;
        color: $text-color;
    }

    .row {
        background: $select-bg;
        vertical-align: middle;

        &:nth-child(2) {
            border-radius: 12px 0 0 12px;
            padding: 20px;
        }

        &:nth-child(5) {
            border-radius: 0 12px 12px 0;
        }
    }

    img {
        padding: 12px;
        border-radius: 50%;

        &:hover {
            transform: scale(1.1);
            filter: brightness(1.5);
        }
    }
}

.odd {
    background: $bg-color;
    height: 10px;
}